In [13]:
import pandas as pd

df = pd.read_csv(r'Hot Stuff.csv')
df = df[['Song', 'Performer', 'Peak Position', 'Weeks on Chart']]

In [14]:
songCount = df.groupby(['Song', 'Performer']).agg({'Peak Position': 'min', 'Weeks on Chart': 'max'})
songCount = songCount.sort_values('Weeks on Chart', ascending=False)

In [15]:
print('These are the top 5 songs that spent the most weeks on the charts.')
songCount[0:5]

These are the top 5 songs that spent the most weeks on the charts.

                                Peak Position  Weeks on Chart
Song           Performer
Radioactive    Imagine Dragons              3              87
Sail           AWOLNATION                  17              79
I'm Yours      Jason Mraz                   6              76
How Do I Live  LeAnn Rimes                  2              69
Counting Stars OneRepublic                  2              68