In [1]:
# ---------------------------------------------------------------------------------------------------------------------- #
#                     THIS PROGRAM WILL GIVE YOU THE TOP 5 LONGEST AND SHORTEST CONSECUTIVE RUNS                         #
# ---------------------------------------------------------------------------------------------------------------------- #

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'Hot Stuff.csv')

In [3]:
# converting the weekIDs to datetime objects
df['WeekID'] = pd.to_datetime(df['WeekID'])
df = df[['SongID', 'WeekID', 'Song', 'Performer']]

In [4]:
# sorting by week and then resetting the indexes
df = df.sort_values(by = 'WeekID')
df.reset_index(drop=True, inplace=True)

In [5]:
# make a list of all the songs with no repeats
uniqueSongs = np.sort(df.SongID.unique())

In [6]:
# create a dictionary where the keys are songIDs and the values are lists of the consecutive runs
songCount = {}
for song in np.nditer(uniqueSongs, flags=['refs_ok']):
    songDates = df.loc[df['SongID'] == song]
    songDates.reset_index(drop=True, inplace=True)
    song = str(song)

    songCount[song] = []
    previousWeek = songDates.loc[(0, 'WeekID')] - pd.DateOffset(days=14)
    for index, row in songDates.iterrows():
        if previousWeek + pd.DateOffset(days=7) == row['WeekID']:
            songCount[song][-1] += 1
        else:
            songCount[song].append(1)
        previousWeek = row['WeekID']

In [7]:
# finding the max value for each song in the dictionary
for key, value in songCount.items():
    songCount[key] = [max(value)]

In [8]:
# making a dataframe from the dictionary
runs = pd.DataFrame.from_dict(songCount, orient='index')
runs.sort_values(by=0, ascending=False, inplace=True)

In [9]:
print('These are the top 5 longest consecutive runs.')
runs[0:5]

These are the top 5 longest consecutive runs.

                                                     0
RadioactiveImagine Dragons                          85
I'm YoursJason Mraz                                 76
How Do I LiveLeAnn Rimes                            69
Counting StarsOneRepublic                           68
Party Rock AnthemLMFAO Featuring Lauren Bennett...  67

In [10]:
print('These are the top 5 shortest consecutive runs.')
runs[-1:-6:-1]

These are the top 5 shortest consecutive runs.

                                              0
Supernatural SuperseriousR.E.M.               1
Got A Match?Frank Gallup                      1
Got A Match?The Daddy-O's                     1
I Wouldn't Know (What To Do)Dinah Washington  1
Theme From Adventures In ParadiseJerry Byrd   1